<div class="container-fluid">
  <h1 class="text-center">Contact Me</h1>
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-6">
        <img src="/assets/img/me.jpg">
        <h3 class="lead">Web Developer</h3>
        <p>3-year professional web development experience and solid knowledge in <b>Angular, ASP.NET, React, J2EE, and HTML/CSS.</b> Always be a self-starter, who is detail-oriented in a fast-paced environment and passionate in learning and applying new technologies fast.</p>
      </div>
      <div class="col-log-6 align-middle m-auto">
        <p><b>Email: </b>hongliang7876@gmail.com</p>
        <a class="btn btn-primary mx-auto" href="/assets/static/HongLiang_Wang_CV.pdf" target="_self">
          <i class="material-icons">file_download</i><span>Get My Resume</span>
        </a>
      </div>
    </div>
  </div>

</div>
