<div class="divider text-center"><p class="display-4 d-inline-block">~</p></div>
<h1 class="text-center">Working Experience and Related Projects</h1>
<div class="container-fluid">
  <div class="timeline">
    <ul class="experience" >
      <li class="card" *ngFor="let exp of experiences">
        <h5 class="title">{{exp.title}}</h5>
        <!-- <div class="arrowDown text-center"
            [display]="exp.display"
            (click)="toggle()"
            [class.d-none]="display === true">
            <i class="material-icons">keyboard_arrow_down</i>
        </div> -->
        <div class="details">
            <!-- [class.d-none]="exp.display === false"> -->
          <h6 class="project-name d-inline-block">{{exp.project}}</h6>
          <p class="duration float-right">{{exp.duration}}</p>
          <ul>
            <li *ngFor="let info of exp.description">
              <p class="description">{{info}}</p>
            </li>
          </ul>
          <p><b>Technologies:</b> {{exp.appliedSkill}}</p>
        </div>
        <!-- <div class="arrowUp text-center"
            (click)="toggle(exp.display)"
            [class.d-none]="exp.display === false">
            <i class="material-icons">keyboard_arrow_up</i>
        </div> -->
      </li>
    </ul>
  </div>
</div>
