p{
  margin: 0;
}
.container-fluid{
  position: relative;
  /* background-color: #474e5d; */
  width: 100%;
  margin: 0;
  padding: 10px;
	background-image: url('/assets/img/skillset.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.divider::before{
  content: '';
  top: 8px;
  left: 0;
  right: 19px;
  display: inline-block;
  width: 300px;
  max-width: 45%;
  height: 1px;
  background-color: #6b6868;
}
.divider::after{
  content: '';
  top: 8px;
  left: 0;
  right: 19px;
  display: inline-block;
  width: 300px;
  max-width: 45%;
  height: 1px;
  background-color: #6b6868;
}
@media only screen and (min-width: 768px) {
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 10px;
    bottom: 0;
    left: 50%;
  }
}
.experience {
  padding-left: 0;
}
.card{
  width: 48%;
  background-color: white;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 10px 0;
  list-style: none;
  position: relative;
}
.card:nth-child(odd) {
  left: 0;
}
.card:nth-child(even) {
  left: 52%;
}
@media screen and (max-width:768px) {
  .timeline::after {
    content: '';
  }
  .card{
    width: 98%;
    background-color: white;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px 0;
    list-style: none;
    position: relative;
  }
  .card:nth-child(odd) {
    left: 0;
  }
  .card:nth-child(even) {
    left: 0;
  }
}
