<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container-fluid">
  <div class="jumbotron">
      <div id="background"></div>
      <img src="/assets/img/me.jpg">
      <h1 class="display-4">Hongliang Wang</h1>
      <h3 class="lead">Web Developer</h3>
      <p>3-year experience in web development</p>
  </div>
  <div class="container" id="summary">
    <div class="row justify-content-sm-center">
      <div class=" col col-lg-4 col-md-4 col-sm-6 col-8 ml-auto mr-auto mb-3" *ngFor="let qualification of qualifications">
        <i class="material-icons">{{qualification.icon}}</i>
        <p>{{qualification.description}}</p>
      </div>
    </div>
  </div>
</div>
