<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-bar-default sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
    (click)="toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" id="navbarNav"
        [class.collapse]="display === false">
    <ul class="navbar-nav">
        <li class="nav-item active" >
          <a scrollTo scrollTargetSelector="#Summary" class="nav-link" (click)="toggle()">Summary</a>
        </li>
        <li class="nav-item" >
          <a scrollTo scrollTargetSelector="#Skills" class="nav-link" (click)="toggle()">Skills</a>
        </li>
        <li class="nav-item" >
          <a scrollTo scrollTargetSelector="#Experience" class="nav-link" (click)="toggle()">Experience</a>
        </li>
        <li class="nav-item" >
          <a scrollTo scrollTargetSelector="#ContactMe" class="nav-link" (click)="toggle()">Contact Me</a>
        </li>
      </ul>
    </div>
  </nav>
<app-summary id="Summary"></app-summary>
<app-experience id="Experience"></app-experience>
<app-skills id="Skills"></app-skills>
<app-contacts id="ContactMe"></app-contacts>
